/* Post UI Properties------------------------*/
.group-header{
	color: white;
	font-family: Arial;
	letter-spacing: 5px;
}

.post-name{
	height: 10px;
	padding-top: 5px;
	padding-left: 10px;
}

.post-owner{
	color: white;
	font-family: Arial;
	height: 10px;
	padding-left: 10px;
	font-size: 10pt;
}

.post-pic{
	height: 250px;
}

.post-margin{
	list-style-type: none;
	padding-left: 0px;
	align-self: center;
}

.test{
	background-color: grey;
	background-position: left;
	background-size: auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px #383838;
}

.post-body{
	margin-right: 10px;
	margin-bottom: 10px;
	height: 250px;
	width: 200px;
	border-collapse: collapse;
	border-radius: 10px;
	box-shadow: 1px 2px 5px #383838;
	background-color: #f4f4f4;
	background-image: url('bg2.jpg');
	font-family: Arial;
	display: inline-table;
}

.post-button{
	height: 40px;
	width: 80px;
	border: 1px solid #50b23a;
	border-bottom: 3px solid #29601d;
	border-radius: 10px;
	background-color: #50b23a;
	color: white;
}

.post-button:hover{
	background-color: #29601d;
	transition: 0.2s;	
}

/*----------------------------------------*/
body{
	/*background-color: black;*/
	background-color: #efefef;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navtest{
	background-color: black;
	box-shadow: 5px 0px 4px black;
	color: white;
}

.navButton{
	padding-left: : 10px;
	padding-right: 10px;
	display: inline-block;
}