.navtest{
	background-color: black;
	box-shadow: 5px 0px 4px black;
	color: white;
}

.navButton{
	padding-left: : 10px;
	padding-right: 10px;
	display: inline-block;
}

.searchIcon{
	background-image: url('search.png');
}